body{
    width: 100%;
    height: 100%;
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
}
div ul li{
    list-style-type: none;
    line-height: 30px;
    color: #ffffff;
}
div ul li a{
    background-color: aqua;
    border-radius: 20px;
    padding: 5px;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: red;
}
.animating{
    animation: mymovie 3s;
}
@keyframes{
    form{top: 0%;}
    to{top: 100%;}
}
